*{
    margin: 0;
    /* border: 1px dashed red; */
}

#root{
    background-color: #dce1e5;
}

.page{
    width: 8.5in;
    margin: auto;
    padding: .25in .25in; 
    border: 1px solid black;
    background-color: white;
}