h3 {
    text-transform: uppercase;
    font: 14px "Noto Sans", sans-serif;
    font-weight: bold;
    padding: 5px 0px;
}

header {
    text-align: center;
    align-content: center;
}

hr {
    color: #003660;
    margin: 0;
    margin-left: auto !important;
    margin-right: auto !important;
}

#vitae-label {
    color: #003660;
}

#vitae-label div {
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
}

#vitae-label i {
    align-content: center;
    font-size: 14pt;
}

#vitae-text {
    font: 18px "Linux Libertine", serif;
    font-weight: 200;
    font-kerning: normal;
    letter-spacing: 1pt;
    text-transform: uppercase;
}

#header-name {
    padding: 10px 0px;
    font: 32px "Vollkorn", serif;
    /* font-variant: small-caps; */
    font-weight: 300;
}

#contact-info {
    font: 14px "Noto Sans", sans-serif;
    text-align: center;
    padding: 10px 0px;
}

#contact-info div {
    display: inline-block;
}

#contact-info i {
    padding: 0px 10px;
}

.contact-item {
    align-content: center;
    padding-right: 10px;
    color: #003660;
}

.contact-item:nth-child(2) {
    border-left: 1px solid #003660;
    border-right: 1px solid #003660;
}

/* About Section */

.about {
    padding: 20px 0px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: justify;
    font: 12px "Noto Sans", sans-serif;
}